<div class="px-8 py-8 md:px-8 lg:px-8 flex align-items-center justify-content-center "
    style="background: linear-gradient(-135deg,#000000,#767879 38%,#02578f, #1f801f );">
    <div class="p-8 shadow-8  text-center lg:w-30rem fadeinleft animation-duration-1000 "
        style="border-radius: 12px; background-color: rgba(255,255,255,.1); color: rgba(255,255,255,.8);">
        <img src="assets/tcsgo.png" alt="logo" height="65" width="65">
        <div class="text-4xl font-medium mb-6">Inicio de sesion</div><input type="text" placeholder="escribe tu email"
            class="appearance-none border-none p-3 w-full outline-none text-xl block mb-4 bg-white-alpha-10 text-white-alpha-60"
            style="border-radius: 30px;text-align: center;">
        <input type="password" placeholder="escribe tu contraseña"
            class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 bg-white-alpha-10 text-white-alpha-60"
            style="border-radius: 30px; text-align: center;"><button type="button"
            class="appearance-none border-none p-3 w-full outline-none text-xl mb-4 font-medium w-12rem bg-white-alpha-30 hover:bg-white-alpha-40 active:bg-white-alpha-20 text-white-alpha-80 cursor-pointer transition-colors transition-duration-150"
            style="border-radius: 30px;">Sign In</button><a class="cursor-pointer font-medium block text-center">Forgot
            Password?</a>
    </div>
</div>

<div class="px-4 py-8 md:px-6 lg:px-8"
    style="background: url('assets/signin-2.jpg') no-repeat; background-size: cover;">
    <div class="flex flex-wrap fadeinleft animation-duration-1000 ">
        <div class="w-full lg:w-6 p-4 lg:p-7" style="background-color: rgba(255,255,255,.7);"><img
                src="assets/tcsgo.png" alt="Image" height="65" width="65" class="mb-6">
            <div class="text-xl text-900 font-500 mb-3">Bienvenido a TCS GO!</div>
            <p class="text-600 line-height-3 mt-0 mb-6">Sitio oficial de Telecorporación Salvadoreña, el mejor contenido de la televisión.</p>
            <ul class="list-none p-0 m-0">
                <li class="flex align-items-start mb-4">
                    <div><span class="flex align-items-center justify-content-center bg-purple-400"
                            style="width: 38px; height: 38px; border-radius: 10px;"><i
                                class="text-xl text-white pi pi-desktop"></i></span></div>
                    <div class="ml-3"><span class="font-medium text-900">Ver programas en cualquier momento</span>
                        <p class="mt-2 mb-0 text-600 line-height-3">Almacenamos nuestros programas para que puedas verlos cuando quieras. </p>
                    </div>
                </li>
                <li class="flex align-items-start mb-4">
                    <div><span class="flex align-items-center justify-content-center bg-purple-400"
                            style="width: 38px; height: 38px; border-radius: 10px;"><i
                                class="text-xl text-white pi pi-play"></i></span></div>
                    <div class="ml-3"><span class="font-medium text-900">Contenido en vivo</span>
                        <p class="mt-2 mb-0 text-600 line-height-3">Scelerisque purus semper eget duis at tellus at
                            urna. Sed risus pretium quam vulputate.</p>
                    </div>
                </li>
                <li class="flex align-items-start">
                    <div><span class="flex align-items-center justify-content-center bg-purple-400"
                            style="width: 38px; height: 38px; border-radius: 10px;"><i
                                class="text-xl text-white pi pi-globe"></i></span></div>
                    <div class="ml-3"><span class="font-medium text-900">Cloud Backups Inbox</span>
                        <p class="mt-2 mb-0 text-600 line-height-3">Egestas sed tempus urna et. Auctor elit sed
                            vulputate mi sit amet mauris commodo.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="w-full lg:w-6 p-4 lg:p-7 surface-card">
            <div class="text-900 text-2xl font-medium mb-6 text-center">Iniciar sesion</div><label for="email3"
                class="block text-900 font-medium mb-2">Email</label><input id="email3" type="text" pinputtext=""
                class="p-inputtext p-component p-element w-full mb-4"><label for="password3"
                class="block text-900 font-medium mb-2">Password</label><input id="password3" type="password"
                pinputtext="" class="p-inputtext p-component p-element w-full mb-4">
            <div class="flex align-items-center justify-content-between mb-6">
                <div class="flex align-items-center">
                    <p-checkbox id="rememberme3" styleclass="mr-2" class="p-element">
                        <div class="mr-2 p-checkbox p-component">
                            <div class="p-hidden-accessible"><input type="checkbox" value="undefined"
                                    aria-checked="false"></div>
                            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
                        </div>
                        <!---->
                    </p-checkbox><label for="rememberme3">Remember me</label>
                </div><a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot
                    password?</a>
            </div><button pbutton="" pripple="" label="Login" icon="pi pi-user"
                class="p-element p-ripple w-full p-button p-component"><span
                    class="p-button-icon p-button-icon-left pi pi-user" aria-hidden="true"></span><span
                    class="p-button-label">Login</span><span class="p-ink"></span></button>
            <p-divider align="center" styleclass="my-6" class="p-element">
                <div role="separator"
                    class="my-6 p-divider p-component p-divider-horizontal p-divider-solid p-divider-center">
                    <div class="p-divider-content"><span class="text-600 font-normal text-sm">OR</span></div>
                </div>
            </p-divider><button pbutton="" pripple="" label="Sign In with GitHub" icon="pi pi-github"
                class="p-element p-ripple w-full p-button-secondary p-button p-component"><span
                    class="p-button-icon p-button-icon-left pi pi-github" aria-hidden="true"></span><span
                    class="p-button-label">Sign In with GitHub</span><span class="p-ink"></span></button>
            <div class="mt-6 text-center text-600"> Don't have an account? <a tabindex="0"
                    class="font-medium text-blue-500">Sign up</a></div>
        </div>
    </div>
</div>